<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <footer th:fragment="footer">
      <div class="footer-nav">
        <div class="container">
          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <h2 class="nav-title">Danh Mục Phổ Biến</h2>
            </li>
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Thời trang</a>
            </li>
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Điện tử</a>
            </li>
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Mỹ phẩm</a>
            </li>
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Sức khỏe</a>
            </li>
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Đồng hồ</a>
            </li>
          </ul>

          <ul class="footer-nav-list">
            <li class="footer-nav-item"><h2 class="nav-title">Sản Phẩm</h2></li>
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Giảm giá</a>
            </li>
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Sản phẩm mới</a>
            </li>
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Bán chạy nhất</a>
            </li>
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Liên hệ chúng tôi</a>
            </li>
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Sơ đồ trang</a>
            </li>
          </ul>

          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <h2 class="nav-title">Công Ty Của Chúng Tôi</h2>
            </li>
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Giao hàng</a>
            </li>
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Thông báo pháp lý</a>
            </li>
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Điều khoản và điều kiện</a>
            </li>
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Về chúng tôi</a>
            </li>
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Thanh toán an toàn</a>
            </li>
          </ul>

          <ul class="footer-nav-list">
            <li class="footer-nav-item"><h2 class="nav-title">Dịch Vụ</h2></li>
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Giảm giá</a>
            </li>
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Sản phẩm mới</a>
            </li>
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Bán chạy nhất</a>
            </li>
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Liên hệ chúng tôi</a>
            </li>
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Sơ đồ trang</a>
            </li>
          </ul>

          <ul class="footer-nav-list">
            <li class="footer-nav-item"><h2 class="nav-title">Liên Hệ</h2></li>
            <li class="footer-nav-item flex">
              <div class="icon-box">
                <ion-icon name="location-outline"></ion-icon>
              </div>
              <address class="content">Hà Đông, Hà Nội, Việt Nam</address>
            </li>
            <li class="footer-nav-item flex">
              <div class="icon-box">
                <ion-icon name="call-outline"></ion-icon>
              </div>
              <a href="tel:+84384887042" class="footer-nav-link"
                >(+84) 384 887 042</a
              >
            </li>
            <li class="footer-nav-item flex">
              <div class="icon-box">
                <ion-icon name="mail-outline"></ion-icon>
              </div>
              <a href="mailto:ducmanhlehoang@gmail.com" class="footer-nav-link"
                >ducmanhlehoang@gmail.com</a
              >
            </li>
          </ul>

          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <h2 class="nav-title">Theo Dõi Chúng Tôi</h2>
            </li>
            <li>
              <ul class="social-link">
                <li class="footer-nav-item">
                  <a href="#" class="footer-nav-link"
                    ><ion-icon name="logo-facebook"></ion-icon
                  ></a>
                </li>
                <li class="footer-nav-item">
                  <a href="#" class="footer-nav-link"
                    ><ion-icon name="logo-twitter"></ion-icon
                  ></a>
                </li>
                <li class="footer-nav-item">
                  <a href="#" class="footer-nav-link"
                    ><ion-icon name="logo-linkedin"></ion-icon
                  ></a>
                </li>
                <li class="footer-nav-item">
                  <a href="#" class="footer-nav-link"
                    ><ion-icon name="logo-instagram"></ion-icon
                  ></a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer-bottom">
        <div class="container">
          <img
            th:src="@{/images/payment.png}"
            alt="phương thức thanh toán"
            class="payment-img"
          />
          <p class="copyright">
            &copy; 2025 <a href="#">Mộc</a> mọi quyền được bảo lưu.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
